/* CSS Reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */ 
.container {
    display: flex;
    height: calc(100vh - 80px);
}

/* Sidebar */ 
.sidebar {
    height: 100%;
    width: 80px;
    background-color: blanchedalmond;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    display: block;
    height: 50px;
    text-align: center; 
}

/* Main - Contact List */

main {
    height: 100%;
    width: calc(100% - 80px);
    background-color: purple;
    overflow: auto;
}

.message-container {
    display: flex;
    background-color: rgb(255, 174, 0);
    height: 80px;
    border: 2px solid rgb(255, 0, 0);
    margin: 10px;
}

.avatar-pic {
    display: inline-block;
    background-color: beige;
    width: 80px;
}

.contact-name  {
    display: inline-block;
    height: 50%;
    width: 80%;
    background-color: black;
}

/* Main - Header */
header {
    height: 80px;
    background-color: aqua;
}

/* Footer */
footer {
    height: 80px;
    background-color: rgb(22, 21, 21);
}

.low-nav-bar {
    height: 100%;
}

.low-nav-bar ul {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}

.low-nav-bar li {
    flex-basis: 33%;
    text-align: center;
    padding: 10px 0;
}

.low-nav-bar span {
    display: block;
    height: 50%;
}




