/* CSS Reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */ 
.container {
    display: flex;
    height: calc(100vh - 80px);
}

/* Sidebar */ 
.sidebar {
    height: 100%;
    width: 80px;
    background-color: blanchedalmond;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    display: block;
    height: 50px;
    text-align: center; 
}

/* Main - Contact List */

main {
    height: 100%;
    width: calc(100% - 80px);
    background-color: purple;
    overflow: auto;
}

.message-container {
    display: flex;
    background-color: orange;
    height: 80px;
    gap: 10px;
    margin: 10px;
}

.contact-avatar {
    height: 100%;
    width: 80px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgb(16, 17, 87);
}

.mex-time-elapsed {
    display: block;
    flex-shrink: 0;
    height: 100%;
    line-height: 80px;
    background-color: purple;
}

.mex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 80%;
    background-color: azure;
}

/* Main - Header */
header {
    height: 80px;
    background-color: aqua;
}

/* Footer */
footer {
    height: 80px;
    background-color: rgb(22, 21, 21);
}

.low-nav-bar {
    height: 100%;
}

.low-nav-bar ul {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}

.low-nav-bar li {
    flex-basis: 33%;
    text-align: center;
    padding: 10px 0;
}

.low-nav-bar span {
    display: block;
    height: 50%;
}




