/* CSS Reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */ 
.container {
    display: flex;
    height: calc(100vh - 80px);
}

/* Sidebar */ 
.sidebar {
    height: 100%;
    width: 80px;
    background-color: blanchedalmond;
    
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    display: block;
    height: 50px;
    text-align: center; 
}

/* Main - Contact List */

main {
    height: 100%;
    width: 100%;
    background-color: purple;
}

/* Main - Header */
header {
    height: 80px;
    background-color: aqua;
}

/* Footer */
footer {
    height: 80px;
    background-color: rgb(22, 21, 21);
}

.low-nav-bar ul li {
    display: inline-block;
    width: 30%;
    translate: 14%;
}

.low-nav-bar a span:last-child,
.low-nav-bar a span:first-child {
    display: block;
    line-height: 80px;
    text-align: center;
    background-color: antiquewhite;
   
}
